<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".HumanCareKioskApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_tmp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HumanCareKioskGuide">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".fastfood.FastfoodMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.avad.humancare.kiosk.fastfood.FastfoodMainActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".fastfood.FastfoodSelectPlaceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fastfood.FastfoodMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fastfood.FastfoodMenuDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fastfood.FastfoodPaymentSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fastfood.FastfoodPayResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".train.TrainMainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.avad.humancare.kiosk.train.TrainMainActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".train.TrainReservationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".train.TrainPassengerSeatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".train.TrainCalendarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".train.TrainSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".train.TrainSeatSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".train.TrainPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".train.TrainPaymentConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".train.TrainPaymentResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".train.TrainReservationTicketActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".train.TrainTicketActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".train.TrainTicketDeliveryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- hospital -->
        <activity
            android:name=".hospital.HospitalMainMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.avad.humancare.kiosk.hospital.HospitalMainMenuActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".hospital.HospitalFragmentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".issue.IssuanceMainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.avad.humancare.kiosk.issue.IssuanceMainActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>